@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

*{
    padding: 0;
    /* margin: 0;
     */
     margin-bottom: 200px;
    margin: 0;font-family: 'Jost', sans-serif;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 9, 8);
    color: rgb(241, 239, 245);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80PX;
}
.main-cont{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(243, 126, 90);
    height: 200px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 200px
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#inputFahrenheit{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: black;
    color: white;
    border: none;
}
.res{
    font-size: larger;
    color: rgb(15, 20, 6);
    /* float: right;te */
    text-align: left;
    padding-top: 20px;
    padding-left: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.get{
    font-size: larger;
}